<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/{{css}}">
    <link rel="stylesheet" type="text/css" href="/public/css/navigation.css">
    <title>Articles and Files</title>
</head>

<body>
    {{!-- Navigation script --}}
    <div class="topnav">
        <a class="active" href="http://localhost:3000/"></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../public/js/jquery-2.1.0.js"></script>

    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    {{!-- --}}
</body>

</html>